target/
.env
*.env
.idea/

# Output files
strategies/*/deploy/src/ethereum_strategy_config.toml
strategies/*/deploy/src/neutron_strategy_config.toml
strategies/*/deploy/src/gaia_strategy_config.toml
strategies/*/deploy/src/coprocessor_strategy_config.toml

strategies/lombard_btc/deploy/src/lombard_strategy_config.toml
!strategies/*/strategist/*.example.env
!strategies/usdc/deploy/src/*.toml
strategies/lombard_btc/deploy/src/artifacts/lombard_strategy_config.toml
